*{
    margin: 0;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),url(ghanaflag.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
    padding: 0%; 
}
.introtext{
    width: 60%;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.introtext h1{
    font-size: 69px;    
}
.introtext p{
    margin: 10px o 40px;
    font-size: 30px;
    color: white;
}
.container{ 
    margin-top: 23%;
    margin-left: 25%;
    margin-right: 16%;
    opacity: 0.9;
    border-radius: 10px;
}
.form-group{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    font-family: 'Quattrocento', serif;
  }
.labels{
    font-weight: lighter;
    margin-top: 2%;
    font-size: 25px;
    color: white;
    text-align: center;
}
.genders{
    margin-left: 50px;
}
  .btn{
    margin-left: 50px;
    margin-top: 20px;
    height: 45px;
    width: 200px;
    border-radius: 20px;
}
#result{
    margin-top: 30px;
    color:white;
    font-size: 28px;
  }
  .rounded-circle{
    margin-left: 40%;
  }
h2{
    text-align: center;
    color: white;
    font-size: large;
}
.radio-button{
    margin-top:2%;
    font-size: large;
    color: white;
}
.btn btn-primary mb-2{
    align-items: center;
}